.btn-pink { color: #fff; background-color: #FCE3FC; background-image: linear-gradient(#6f55d5, #FCE3FC); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12); }

.btn-pink:hover, .btn-pink.zeroclipboard-is-hover { color: #fff; background-color: #F8BFF8; background-image: linear-gradient(#6549d2, #F8BFF8); }

.btn-pink:active, .btn-pink.selected, .btn-pink.zeroclipboard-is-active { background-color: #4f31c6; background-image: none; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
.btn-pink.selected:hover { background-color: #472cb2; }
